@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2c2a29;
}

.toggle {
    position: fixed;
    right: 20px;
    top: 20px;
}

.toggle button {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 1000px;
    border: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
    padding: 30px 20px;
}

.profile-card {
    border-radius: 50px;
    background-color: #423f3c;
    max-width: 350px;
    width: 100%;
    border: 1px solid #2c2a29;
    padding: 10px;
}

.profile-card.light {
    background-color: #f5f5f5;
}

.profile-card .profile-img {
    width: 100%;
    height: 300px;
    border-radius: 42px;
    overflow: hidden;
}

.profile-card .profile-img img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-card .content {
    padding: 20px;
}

.profile-card .content h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: #f5f5f5;
    margin-bottom: 10px;
    font-weight: 500px;
}
.profile-card .content h3 svg{
    color: goldenrod;
}
.profile-card.light .content h3 {
    color: #423f3c;
}

.profile-card .content .desc {
    font-size: 14px;
    color: #b3a5a5;
    margin-bottom: 20px;
}

.profile-card .content .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-card .content .bottom span {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}

.profile-card.light .content .bottom span {
    color: #423f3c;
}

.profile-card .content .bottom span svg {
    color: #b3a5a5;
    width: 18px;
    height: 18px;
}

.profile-card .content .bottom button {
    color: #f5f5f5;
    border-radius: 1000px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #423f3c;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-card .content .bottom button svg {
    color: #f5f5f5;
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 525px) {
    main {
        flex-direction: column;
    }
}